<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson app</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <body>
        
        <div id="app">
        <header>
        <h1 v-text="sitename"></h1>
        <button v-on:click="ShowCheckout">
             {{ LessonsInCart }}
             <span class="fa-solid fa-cart-shopping">
             checkout

        </button>
        </header>
            <main>
                <div v-if="ShowLesson">
                <div class="lessons">
                <div>
                <!-- uses the "mustache" syntax  -->
                
                <p>Subject: {{lesson.subject}}</p>
                <p>Location: {{lesson.location}}</p>
                <p>Price: {{lesson.price}}</p>
                <p>Space: {{lesson.space}}</p>
                
                <input type="button" value="Add to the cart" v-on:click="addToCart" v-if="addToCartVisible"  />
                <div v-else>
                    <button disabled> Add to the Cart</button>
                     No more space in lesson

                </div>
            </div>
                 <figure>
                    <!-- bind source to 'lesson.image' in 'data' -->
                    <img v-bind:src="lesson.image" alt="math icon" width="100">
                    </figure>
                </div>
            </div>
            <div v-else>
               <h1>Shopping Cart page</h1> 
               <h2>details</h2>
               <h2>Checkout</h2>
<p>
<strong>Name:</strong>
<!-- This input is bound to Name-->
<input v-model="order.Name"/>
</p>
<p>
<strong>Phone Number:</strong>
<!-- This is binded to phone number -->
<input v-model.number="order.PhoneNum" type="number"/>
</p>
<h2>Order Information</h2>
<p>Name: {{order.Name}}</p>
<p>Phone Number: {{order.PhoneNum}}</p>
                <button v-on:click="submitForm">Checkout</button>
                

            </div>
                </main>
        </div>
        <script src="VueJsApp.js"></script>

        </body>
</html>